html {
	font-size: 10px;
}
body {
	margin: 0;
	background-color: #121212;
}

.App {
	font-family: sans-serif;
	position: relative;
}

.loading {
	color: white;
	text-align: center;
}

.error {
	color: red;
	text-align: center;
}

a,
:visited {
	text-decoration: none;
	color: initial;
}